
body{
	font-size: 18px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #0a0909;
    background-color: #efe5e5;
}
.avatar {
	vertical-align: middle;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin: 20px;
}
.itemlist {
	vertical-align: middle;
	width: 90px;
	height: 90px;
	/* border-radius: 50%; */
	margin: 5px;
}
.bg-main {
	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/header-banner.jpg) no-repeat center center fixed !important; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
}
.index-head {
	padding: 10%;
	color: #fff;
	line-height: 150%;
}

.index-head > h1 {
	font-size: 60px;
}
.logo-bg {
	background-color: #00A65A !important;
}

.index-head > p {
	font-size: 32px;
}

.index-head > p > a {
	margin-top: 20px;
}

.latest-listing {
	line-height: 150%;
}

.latest-listing > h1 {
	font-size: 60px;
}

.candidate-img > img {
	width: 350px;
	height: 175px;
}

.sender-img > img {
	width: 350px;
	height: 200px;
}

.about-text > p {
	font-size: 17px;
	line-height: 150%;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-20 {
	margin-top: 20px;
}

.padding-5 {
	padding: 5%;
}

.padding-2 {
	padding: 2%;
}
.bg-white {
	background-color: #fff;
}
.margin-right-10 {
	margin-right: 10px;
}

.bg-c-yellow {
	background-color: #FFC;
}

.color-red {
	color: red;
}

.hide-me {
	display: none;
}


img, .wp-block-media-text__media video {
    height: auto;
    /* max-width: unset; */
    width: 30%;
    vertical-align: middle;
	/* float: right; */
}
.arbaz{
	font-size: 20px;
	margin: 100px;
	float: left;
	
}
.small-box h3 {
	
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space:normal !important;
    padding: 0
}

.small-box>.inner {
    padding: 38px !important;
}
/* .content-wrapper {
    min-height: 70% !important;
} */












